
#container{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;  
}

#todo-container{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  
}

#delBtn{
  background-color: brown;

}

#enterBtn
{
  background-color: green;
}

#delBtn , #enterBtn
{
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: azure;
  cursor: pointer;
}
